PORT=8000
RTMP_PORT=1935
HTTP_PORT=8000

FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY_PATH=./firebase-service-account.json
FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com

NODE_ENV=development
